<!DOCTYPE html>
<html>
<head>
<title>My Site - Blog</title>
</head>
<body>

<h1>My Site - Blog</h1>
{% for post in posts %}
<h2>
    <a href="/blog/{{ post.title }}">{{ post.title }}</a>
</h2>
{% endfor %}

</body>
</html>
